
body {
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(-45deg, #442f52, #724b92, #260c57);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    row-gap: 200px;
    
}

.Home-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding-top: 200px;
}

h1 {
    text-align: center;
    vertical-align: bottom;
    color: #ffffff;
    font-size: 40px; 
    
    

}

h2{
    text-align: center;
    color: #ffffff;
    font-size: 40px; 
    
}

h3{
    color: #ffffff;
}

.About-container{
    
    font-size: 25px;   
    color: #ffffff;
    justify-items: center;
    align-items: center;
}

p{
    justify-items: center;
    align-items: center;
    text-align: center;
    text-size-adjust: 50px;
    color: #ffffff;
    
}



.button-group{
    text-align: right;
    background: linear-gradient(-45deg, #484749, #433b49, #312c3b, #231e38);
    padding-top: 10px;

    padding-bottom: 10px;
}
button{
    font-size: 30px;
    background-color: #260c57;
    color: #ffffff;
}
button :hover{
    border: 2px, solid, #961680;
}

.Projects-container{
   /* padding-top: 400px;

    padding-bottom: 400px;
                            */
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    font-size: 25px;
}
.project-title{
    align-items: center;
    justify-items: center;
}

img{
    width: 638px;
    padding: 30px;
}
.project-imageLeft{
    align-items: left;
} 
.project-imageRight{
    align-items: right;
} 


.project-descriptionR{
    text-align: left;
    color: #ffffff;
    padding: 30px;
}

.project-descriptionL{
    text-align: right;
    color: #ffffff;
    padding: 30px;
}

.contact-container form{

    font-size: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    
}

.contact-label{
    color: #ffffff;
    text-align: center;
}

input{
    width: 500px;
    border-radius: 10px;

    border: none;
}
input :focus{
    border: 2px, solid,#961680;
}

textarea{
    width: 500px;
    height: 140px;
    border-radius: 20px;

}
textarea :focus{
    border: 2px, solid,#961680;
}


/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/
