/*.header-title{
    text-align: center;
    vertical-align: middle;
}*/

h1 {
    text-align: center;
    vertical-align: bottom;
    
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;

}

h2{
    text-align: center;
    vertical-align: bottom; 
    padding-left: 200px;
    padding-right: 200px;
    
}
.button-group{
    text-align: right;
    background-color: darkgray;
}
button{
    height: 50px;
    width: 70px;
}

